doctype html
html
  head
    title Aarry Dance Academy
    block scripts
    block style
  body
    nav#navbar
        ul 
            div#logo
                img(src="/static/image/logo.png")
                | ADA
            li #[a(href="/") Home]
            li #[a(href="/about") About]
            li #[a(href="/services") Services]
            li #[a(href="/class") Class Info]
            li #[a(href="/contact") Contact us]
    
    block content
    footer#footer
        | Copyright © 2019 AarryDanceAcademy.com | All rights reserved