
.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

header,
section,
footer {
    margin-bottom: 30px;
}

header p {
    border-bottom: 2px solid #000;
}

h1,
h2,
h3 {
    color: #2c3e50;
    text-align: center;
}

p {
    color:  rgb(97, 95, 27);
    line-height: 1.6;
    text-align: center;
    padding: 10px 10px 50px 10px;
    border-bottom: 2px solid #000;
    font-size: 25px;
    width: 50%;
    margin: auto;
}


.instructor-profile img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-left: 42%;
}
.instructors{
    display: flex;
    flex-direction: column;
    margin: auto;
}
.instructors h2 {
    margin-bottom: 40px;
}
.instructor-profile:nth-child(2) p {
    border-bottom: none;
    /* margin: 30px; */
}
.instructor-profile:nth-child(3) P {
    padding-bottom: 50px;
}

header h1, h2, h3 {
    animation: fadeInDown 1s;
}

h1:hover, h2:hover, h3:hover {
    color: black;
}
p:hover {
    color:  rgb(19, 18, 1);
}


@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}