@import url('https://fonts.googleapis.com/css2?family=Lacquer&family=Lora&family=Yeon+Sung&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
h1
{
    text-align: center;
    margin: 12px 0;
}
.container
{
    min-height: 71vh;
    margin: 35px 0;
}
.container h1
{
    font-family: 'Lora';
    font-size: 34px;
}
.myForm
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.myInput
{
    width: 30%;
    padding: 9px;
    margin: 12px;
    font-size: 15px;
    border: 2px solid #313131;
    border-radius: 10px;
    outline: none;
}
.btn
{
    padding: 4px 16px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
    background-color: #313131;
    cursor: pointer;
    outline: none;
    margin: 20px;

    transition: all 1s;
}
.btn:hover
{
    color: #313131;
    background-color: rgb(232, 228, 102);
}